/*div{
  border:1px solid red;
}*/
.main{
  margin:20px;
}

.heading h1{
  color: #585858;
  margin-bottom: 0;
  margin-left: 5px;
}

.heading img{
  width:30px;
  height:30px;
}
.content{
  margin-top: 20px;
}
.info{
  width:40%;
  color: #585858;

}
.info label{
  color:#585858;
  font-weight: 500;
}
.info img{

  width:200px;
  height:200px;
  padding:20px;
  border-radius: 100px;
}
.mat-mdc-card-title{
  color: whitesmoke;
  padding:15px;
  background-color: #5fbae9;
}
.form{
  padding-left:20px;
  padding-bottom:20px;
  padding-right: 20px;
}
.attention{
  color:red;
}
.info-c1{
  padding:20px;
}
.tab{
  border-top:2px solid #5e9fdb;
  border-bottom:2px solid #5e9fdb;
  margin-top:20px;
}
.tab th{
  color:#585858;
  background-color:#fafafa ;
}
.tab td{
  color: #7b7b7b;

}
.th-name{
  width:300px;
}
.mat-mdc-table{
  box-shadow: none;
}

h2{
  color: #585858;
  font-weight: 500;
  padding-top: 20px;
}

h3{
  color: #8e8e8e;
  font-weight: 500;
}

hr{
  color:#5fbae9;
}

.btn-add{
  background-color: rgba(234, 234, 234, 0.81);
}
.btn-add mat-icon{
  color:#5fbae9;
}
[type=submit]{
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #5e9fdb;
  color: white;
  font-weight: bold;
}
button.submit:disabled {
  background-color: #d3d3d3;
  color: #666777;
  cursor: none;
}

.gray-btn{
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: #666777;
  border: 1px solid #d3d3d3;
  font-weight: 500;
  cursor: pointer;
}
.mat-mdc-checkbox label,
.mat-mdc-checkbox h3{
  margin-bottom:0;
}
.buttons{
  padding-bottom:20px
}
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #5fbae9;
  --mdc-checkbox-selected-hover-icon-color:#5fbae9;
  --mdc-checkbox-selected-icon-color:#5fbae9;
  --mdc-checkbox-selected-pressed-icon-color: #5fbae9;
  --mdc-checkbox-unselected-focus-icon-color: #ffffff;
  --mdc-checkbox-unselected-hover-icon-color: #ffffff;

}
