.heading img{
  width:30px;
  height:30px;
}
h1{
  padding-left:10px;
  margin:0;
}

.heading{
  margin-top:20px;
}
.services{
  margin-left: 35px;
  margin-top: 15px;
  color: #585858;
}

.services-btn{
  width: 200px;
  height: 60px;
  display:flex;
  background-color: #d6dbe0;
  color:white;
  font-size:16px;
  font-weight: 500;
  border: none;
  margin-left:10px;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.services-btn:hover{
  cursor: pointer;
}


.services-btn-active{
  background-color: #eff6ff;
  border-top:2px solid #5e9fdb;
  color: #7e7d82;
}


