<div class="main" fxLayout="column">
  <div fxLayout = 'row' fxFlex="100"fxLayoutAlign="center" >
      <h1  mat-dialog-title>Створення карти</h1>

  </div>
  <hr>
  <div mat-dialog-content>
    <form fxLayout="column" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
     <div fxLayout="column">
        <label>Пацієнт</label>
         <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Оберіть пацієнта"
                 matInput
                 formControlName="patient"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option  *ngFor="let option of filteredPatients | async" [value]="option"
                         (onSelectionChange)="setPatient(option)">
              {{getPersonFullName(option)}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
     </div>
      <div fxLayout="column">
        <label>Стан</label>
        <mat-form-field class="example-full-width">
          <mat-select formControlName = 'condition'>
            <mat-option  value = 'Задовільний'>Задовільний</mat-option>
            <mat-option value = 'Нормальний'>Нормальний</mat-option>
            <mat-option value = 'Важкий'>Важкий</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <label>Дата госпіталізації</label>
        <mat-form-field class="example-full-width">
       <input matInput type="datetime-local" id="exampleInput" name="input" formControlName="dateTime"
            placeholder="Дата створення картки" [min]="minDate" [max]="maxDate"/>
        </mat-form-field>
      </div>


      <div fxLayout="column">
      <label>Лікар</label>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Оберіть лікаря"
                 matInput
                 formControlName="doctor"
                 [matAutocomplete]="autod">
          <mat-autocomplete #autod="matAutocomplete">
            <mat-option  *ngFor="let option of filteredDoctors | async" [value]="option"
                         (onSelectionChange)="setDoctor(option)">
              {{getPersonFullName(option)}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <label>Підстава звернення</label>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="admission">
            <mat-option value = 'Самозвернення'>Самозвернення</mat-option>
            <mat-option value = 'Бригадою швидкої допомоги<'>Бригадою швидкої допомоги</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <hr>
      <div fxLayout="row" fxLayoutAlign="space-around center">
      <button type="submit">Створити</button>
      <button class="gray-btn" (click)="cancel()">Скасувати</button>
      </div>
    </form>
  </div>
</div>
