[type=submit]{
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #5e9fdb;
  color: white;
  font-weight: bold;
}
.gray-btn{
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: #666777;
  border: 1px solid #d3d3d3;
  font-weight: 500;
  cursor: pointer;
}
h1#mat-mdc-dialog-title-0.mat-mdc-dialog-title.mdc-dialog__title{
  color:#666777;
  font-weight:400;
  font-size: 27px;
  margin:0px;
  text-align: center;
  padding:0;
}

h1{
  color:#666777;
}

.mdc-dialog{
  width:30%;
  height:110%;
}
.mat-mdc-dialog-container {
  box-shadow: none;
}
